<script src="js/ajax.request.adv.js"></script>

<h2>Cadastro de Advogado</h2><br>
<form id="cadastro_advogado" name="cadastro_empresa" enctype="multipart/form-data" id="cadastro_empresa" action="page.php" method="post">
    <b>Inscrição OAB:</b> <br><input type="text" name="inscricao_oab"><br><br>
    <b>Cpf:</b> <br><input type="text" name="cpf" id="cpf"><br><br>
    <b>Nome:</b> <br><input type="text" name="nome"><br><br>
    <b>Data de Nascimento:</b> <br><input type="text" name="data_nasc" id="campoData"><br><br>
    <b>Ramo(Area de Atuação):</b> <br><input type="text" name="ramo"><br><br>
    <b>Email:</b> <br><input type="text" name="email"><br><br>
    <b>Telefone:</b> <br><input type="text" name="telefone" id="campoTelefone"><br><br>
    <b>Cep:</b> <br><input id="cep" type="text" name="cep"  id="cep"><br><br>
    <div id="ajaxBoxCorreiosData">
    </div>
    <b>Foto:</b> <br><input type="file" name="imagem"><br><br>
    <b>Senha:</b> <br><input type="password" name="senha"><br><br>
    <b>Confirmação de Senha:</b> <br><input type="password" name="senha_confirm"><br><br>
    
    <input type="hidden" name="insert" value="Advogado"><br>
    <h2>Curriculo</h2>
    <b>Tempo de Inscrição:</b> <br><input type="text" name="tempo_inscricao"><br><br>
    <b>Local de Atuação:</b> <br><input type="text" name="local_atuacao"><br><br>
    <b>Informações:</b><br><textarea rows="10" cols="70" name="info_adicionais"></textarea><br>
    <b>Formação Acadêmica:</b><br><textarea rows="10" cols="70" name="formacao_academica"></textarea><br>
    <b>Experências Adicionais:</b><br><textarea rows="10" cols="70" name="exp_adicionais"></textarea>
    
<input type="submit" name="enviar" value="enviar"><br>
</form>