<h6 class="side-title"><span>Gerenciamento da Empresa</span></h6>
<h6><a href="page.php?class=vaga&method=cadastrar">Cadastrar Vaga</a></h6><br>
<h6><a href="page.php?class=empresa&method=editar&id=<?php echo $_SESSION['user_id'];?>">Editar Dados Cadastrais</a></h6><br>
<h6><a href="page.php?class=empresa&method=index">Exibir vagas</a></h6><br>
<h6><a href="page.php?class=empresa&method=listar">Exibir Candidatos</a></h6><br>
<h6><a href="page.php?class=empresa&method=cancelar&id=<?php echo $_SESSION['user_id'];?>"">Cancelar registro no sistema</a></h6><br>
<h6><a href="page.php?class=usuarios&method=logout&doLogout=true">SAIR (Logout)</a></h6><br>