<h6 class="side-title"><span><?php echo utf8_decode('Gerenciamento de Estagiário'); ?></span></h6>
<h6><a href="page.php?class=curriculo&method=visualizar&id=<?php echo $_SESSION['user_id'] ?>"><?php echo utf8_decode('Exibir Currículo')?></a></h6><br>
<h6><a href="page.php?class=curriculo&method=alterar&id=<?php echo $_SESSION['user_id'] ?>"><?php echo utf8_decode('Alterar dados do Currículo');?></a></h6><br>
<h6><a href="page.php?class=estagiario&method=editar&id=<?php echo $_SESSION['user_id'];?>">Editar Dados Cadastrais</a></h6><br>
<h6><a href="page.php?class=estagiario&method=cancelar&id=<?php echo $_SESSION['user_id'];?>"">Cancelar registro no sistema</a></h6><br>
<h6><a href="page.php?class=usuarios&method=logout&doLogout=true">SAIR (Logout)</a></h6><br>