
<div id="welcome">
    <h1>Bem vindo ao Banco de Oportunidades!</h1><br />  

    <li>
        <a href="page.php?class=empresa&method=cadastro" class="thumb" title="An image"><img src="/oportunidades/img/oportunidades.jpg" width="300" height="200"/></a>
        <div class="excerpt">
            <a href="page.php?class=empresa&method=cadastro" class="header">Empresa, cadastre-se e disponibilize suas vagas clicando aqui.</a>
        </div>
    </li>
    <li>
        <a href="#" class="thumb" title="An image"><img src="/oportunidades/img/curriculo.jpg" width="300" height="200"/></a>
        <div class="excerpt"> 
            <a href="#"class="header" >Cadastre seu currículo aqui.</a>
            <a href="page.php?class=advogado&method=cadastro"><div id="btnAdvEst">Cadastro de advogado</div></a>
            <a href="page.php?class=estagiario&method=cadastro"><div id="btnAdvEst">Cadastro de estagiário</div></a>
        </div>
    </li>
    <li>
        <a href="page.php?class=candidato&method=cadastro" class="thumb" title="An image"><img src="/oportunidades/img/procura-de-emprego.jpg" width="300" height="200"/></a>
        <div class="excerpt">
            <a href="page.php?class=candidato&method=cadastro" class="header">Candidato, cadastre seu currículo clicando aqui.</a>
        </div>
    </li>
</div>



